/* @font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../src/assets/fonts/Roboto/Roboto-Regular.ttf'),
    url('assets/fonts/nunito-v16-latin-regular.woff2') format('woff2');
} */

body {
  margin: 0;
  font-family: 'Roboto', 'Nunito', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
  'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;;
}